--
-- PostgreSQL database dump
--

\restrict 4zC1wXVDSZgcC41t0rgkiinHcdyrqBLBWSKrZDAPpDnBaSU4gwiDjUjVgbeT6H4

-- Dumped from database version 18.3
-- Dumped by pg_dump version 18.3

SET statement_timeout = 0;
SET lock_timeout = 0;
SET idle_in_transaction_session_timeout = 0;
SET transaction_timeout = 0;
SET client_encoding = 'UTF8';
SET standard_conforming_strings = on;
SELECT pg_catalog.set_config('search_path', '', false);
SET check_function_bodies = false;
SET xmloption = content;
SET client_min_messages = warning;
SET row_security = off;

--
-- Data for Name: _prisma_migrations; Type: TABLE DATA; Schema: public; Owner: postgres
--



--
-- Data for Name: units; Type: TABLE DATA; Schema: public; Owner: postgres
--



--
-- Data for Name: raw_materials; Type: TABLE DATA; Schema: public; Owner: postgres
--



--
-- Data for Name: users; Type: TABLE DATA; Schema: public; Owner: postgres
--



--
-- Data for Name: stock_runs; Type: TABLE DATA; Schema: public; Owner: postgres
--



--
-- Data for Name: suppliers; Type: TABLE DATA; Schema: public; Owner: postgres
--



--
-- Data for Name: stock_run_items; Type: TABLE DATA; Schema: public; Owner: postgres
--



--
-- Data for Name: stock_batches; Type: TABLE DATA; Schema: public; Owner: postgres
--



--
-- Data for Name: alerts; Type: TABLE DATA; Schema: public; Owner: postgres
--



--
-- Data for Name: auth_sessions; Type: TABLE DATA; Schema: public; Owner: postgres
--



--
-- Data for Name: categories; Type: TABLE DATA; Schema: public; Owner: postgres
--



--
-- Data for Name: email_verification_tokens; Type: TABLE DATA; Schema: public; Owner: postgres
--

COPY public.email_verification_tokens (id, user_id, token_hash, created_at, expires_at, used_at) FROM stdin;
\.


--
-- Data for Name: inventory_daily_snapshots; Type: TABLE DATA; Schema: public; Owner: postgres
--



--
-- Data for Name: inventory_transactions; Type: TABLE DATA; Schema: public; Owner: postgres
--



--
-- Data for Name: orders; Type: TABLE DATA; Schema: public; Owner: postgres
--



--
-- Data for Name: products; Type: TABLE DATA; Schema: public; Owner: postgres
--



--
-- Data for Name: product_variants; Type: TABLE DATA; Schema: public; Owner: postgres
--



--
-- Data for Name: order_items; Type: TABLE DATA; Schema: public; Owner: postgres
--



--
-- Data for Name: inventory_transaction_lines; Type: TABLE DATA; Schema: public; Owner: postgres
--



--
-- Data for Name: modifier_groups; Type: TABLE DATA; Schema: public; Owner: postgres
--



--
-- Data for Name: modifiers; Type: TABLE DATA; Schema: public; Owner: postgres
--



--
-- Data for Name: modifier_recipe_adjustments; Type: TABLE DATA; Schema: public; Owner: postgres
--

COPY public.modifier_recipe_adjustments (id, modifier_id, raw_material_id, quantity_delta, created_at, updated_at) FROM stdin;
\.


--
-- Data for Name: order_item_modifiers; Type: TABLE DATA; Schema: public; Owner: postgres
--



--
-- Data for Name: order_payments; Type: TABLE DATA; Schema: public; Owner: postgres
--



--
-- Data for Name: order_reversals; Type: TABLE DATA; Schema: public; Owner: postgres
--



--
-- Data for Name: outbox_events; Type: TABLE DATA; Schema: public; Owner: postgres
--



--
-- Data for Name: password_reset_tokens; Type: TABLE DATA; Schema: public; Owner: postgres
--

COPY public.password_reset_tokens (id, user_id, token_hash, requested_at, expires_at, used_at) FROM stdin;
69fd3476-3ca5-44b9-b41e-add1438d19df	755481e6-a252-49cb-a73e-34657841edb3	ef2bc7488f90292ba920528355171bdce5d6857cee6b3541276b75f498f3f11f	2026-04-12 13:30:30.474	2026-04-12 14:00:30.455	\N
\.


--
-- Data for Name: product_modifier_groups; Type: TABLE DATA; Schema: public; Owner: postgres
--



--
-- Data for Name: raw_material_inventory_summaries; Type: TABLE DATA; Schema: public; Owner: postgres
--



--
-- Data for Name: stockout_events; Type: TABLE DATA; Schema: public; Owner: postgres
--



--
-- Data for Name: variant_availability_events; Type: TABLE DATA; Schema: public; Owner: postgres
--



--
-- Data for Name: variant_availability_summaries; Type: TABLE DATA; Schema: public; Owner: postgres
--



--
-- Data for Name: variant_recipe_items; Type: TABLE DATA; Schema: public; Owner: postgres
--



--
-- PostgreSQL database dump complete
--

\unrestrict 4zC1wXVDSZgcC41t0rgkiinHcdyrqBLBWSKrZDAPpDnBaSU4gwiDjUjVgbeT6H4

