--
-- PostgreSQL database dump
--

\restrict AkXaMVpgemdDvRELRkAdWiiysEVkxaeqceU2Hg0fJSJklTwWxc1wZX8EIhwfy0M

-- Dumped from database version 18.3
-- Dumped by pg_dump version 18.3

SET statement_timeout = 0;
SET lock_timeout = 0;
SET idle_in_transaction_session_timeout = 0;
SET transaction_timeout = 0;
SET client_encoding = 'UTF8';
SET standard_conforming_strings = on;
SELECT pg_catalog.set_config('search_path', '', false);
SET check_function_bodies = false;
SET xmloption = content;
SET client_min_messages = warning;
SET row_security = off;

--
-- Name: public; Type: SCHEMA; Schema: -; Owner: postgres
--

-- *not* creating schema, since initdb creates it


ALTER SCHEMA public OWNER TO postgres;

--
-- Name: SCHEMA public; Type: COMMENT; Schema: -; Owner: postgres
--

COMMENT ON SCHEMA public IS '';


--
-- Name: AlertSeverity; Type: TYPE; Schema: public; Owner: postgres
--

CREATE TYPE public."AlertSeverity" AS ENUM (
    'INFO',
    'WARNING',
    'CRITICAL'
);


ALTER TYPE public."AlertSeverity" OWNER TO postgres;

--
-- Name: AlertState; Type: TYPE; Schema: public; Owner: postgres
--

CREATE TYPE public."AlertState" AS ENUM (
    'ACTIVE',
    'ACKNOWLEDGED',
    'DISMISSED',
    'RESOLVED'
);


ALTER TYPE public."AlertState" OWNER TO postgres;

--
-- Name: AlertType; Type: TYPE; Schema: public; Owner: postgres
--

CREATE TYPE public."AlertType" AS ENUM (
    'NEAR_EXPIRY',
    'EXPIRED',
    'LOW_STOCK'
);


ALTER TYPE public."AlertType" OWNER TO postgres;

--
-- Name: AvailabilityBlockingReason; Type: TYPE; Schema: public; Owner: postgres
--

CREATE TYPE public."AvailabilityBlockingReason" AS ENUM (
    'NONE',
    'DISABLED_PRODUCT',
    'DISABLED_VARIANT',
    'NO_RECIPE',
    'INSUFFICIENT_STOCK',
    'NO_VALID_REQUIRED_MODIFIER'
);


ALTER TYPE public."AvailabilityBlockingReason" OWNER TO postgres;

--
-- Name: InventorySourceType; Type: TYPE; Schema: public; Owner: postgres
--

CREATE TYPE public."InventorySourceType" AS ENUM (
    'STOCK_RUN',
    'ORDER',
    'INVENTORY_ADJUSTMENT',
    'SYSTEM_IMPORT',
    'WASTE',
    'ORDER_VOID',
    'ORDER_REFUND'
);


ALTER TYPE public."InventorySourceType" OWNER TO postgres;

--
-- Name: InventoryTransactionType; Type: TYPE; Schema: public; Owner: postgres
--

CREATE TYPE public."InventoryTransactionType" AS ENUM (
    'STOCK_RUN',
    'CHECKOUT',
    'ADJUSTMENT',
    'WASTE',
    'SYSTEM_IMPORT',
    'VOID',
    'REFUND'
);


ALTER TYPE public."InventoryTransactionType" OWNER TO postgres;

--
-- Name: ModifierSelectionMode; Type: TYPE; Schema: public; Owner: postgres
--

CREATE TYPE public."ModifierSelectionMode" AS ENUM (
    'SINGLE',
    'MULTIPLE'
);


ALTER TYPE public."ModifierSelectionMode" OWNER TO postgres;

--
-- Name: OrderReversalType; Type: TYPE; Schema: public; Owner: postgres
--

CREATE TYPE public."OrderReversalType" AS ENUM (
    'VOID',
    'REFUND'
);


ALTER TYPE public."OrderReversalType" OWNER TO postgres;

--
-- Name: OrderStatus; Type: TYPE; Schema: public; Owner: postgres
--

CREATE TYPE public."OrderStatus" AS ENUM (
    'COMPLETED',
    'VOIDED',
    'REFUNDED'
);


ALTER TYPE public."OrderStatus" OWNER TO postgres;

--
-- Name: OutboxStatus; Type: TYPE; Schema: public; Owner: postgres
--

CREATE TYPE public."OutboxStatus" AS ENUM (
    'PENDING',
    'PROCESSING',
    'COMPLETED',
    'FAILED'
);


ALTER TYPE public."OutboxStatus" OWNER TO postgres;

--
-- Name: PaymentMethod; Type: TYPE; Schema: public; Owner: postgres
--

CREATE TYPE public."PaymentMethod" AS ENUM (
    'CASH',
    'GCASH',
    'MAYA',
    'CARD',
    'OTHER'
);


ALTER TYPE public."PaymentMethod" OWNER TO postgres;

--
-- Name: Role; Type: TYPE; Schema: public; Owner: postgres
--

CREATE TYPE public."Role" AS ENUM (
    'ADMINISTRATOR',
    'SYSTEM_ADMINISTRATOR',
    'STAFF'
);


ALTER TYPE public."Role" OWNER TO postgres;

--
-- Name: StockRunStatus; Type: TYPE; Schema: public; Owner: postgres
--

CREATE TYPE public."StockRunStatus" AS ENUM (
    'DRAFT',
    'POSTED',
    'CANCELLED'
);


ALTER TYPE public."StockRunStatus" OWNER TO postgres;

--
-- Name: StockoutEntityType; Type: TYPE; Schema: public; Owner: postgres
--

CREATE TYPE public."StockoutEntityType" AS ENUM (
    'RAW_MATERIAL',
    'PRODUCT_VARIANT'
);


ALTER TYPE public."StockoutEntityType" OWNER TO postgres;

--
-- Name: UnitDimension; Type: TYPE; Schema: public; Owner: postgres
--

CREATE TYPE public."UnitDimension" AS ENUM (
    'MASS',
    'VOLUME',
    'COUNT',
    'PACKAGE'
);


ALTER TYPE public."UnitDimension" OWNER TO postgres;

SET default_tablespace = '';

SET default_table_access_method = heap;

--
-- Name: _prisma_migrations; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public._prisma_migrations (
    id character varying(36) NOT NULL,
    checksum character varying(64) NOT NULL,
    finished_at timestamp with time zone,
    migration_name character varying(255) NOT NULL,
    logs text,
    rolled_back_at timestamp with time zone,
    started_at timestamp with time zone DEFAULT now() NOT NULL,
    applied_steps_count integer DEFAULT 0 NOT NULL
);


ALTER TABLE public._prisma_migrations OWNER TO postgres;

--
-- Name: alerts; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.alerts (
    id text NOT NULL,
    dedupe_key text NOT NULL,
    type public."AlertType" NOT NULL,
    severity public."AlertSeverity" DEFAULT 'INFO'::public."AlertSeverity" NOT NULL,
    state public."AlertState" DEFAULT 'ACTIVE'::public."AlertState" NOT NULL,
    title text NOT NULL,
    message text NOT NULL,
    raw_material_id text,
    stock_batch_id text,
    supplier_id text,
    expiry_date date,
    remaining_quantity numeric(14,4),
    metadata jsonb,
    first_triggered_at timestamp(3) without time zone DEFAULT CURRENT_TIMESTAMP NOT NULL,
    last_triggered_at timestamp(3) without time zone DEFAULT CURRENT_TIMESTAMP NOT NULL,
    acknowledged_at timestamp(3) without time zone,
    acknowledged_by_user_id text,
    dismissed_at timestamp(3) without time zone,
    dismissed_by_user_id text,
    resolved_at timestamp(3) without time zone,
    created_at timestamp(3) without time zone DEFAULT CURRENT_TIMESTAMP NOT NULL,
    updated_at timestamp(3) without time zone NOT NULL
);


ALTER TABLE public.alerts OWNER TO postgres;

--
-- Name: auth_sessions; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.auth_sessions (
    id text NOT NULL,
    user_id text NOT NULL,
    session_token_hash text NOT NULL,
    created_at timestamp(3) without time zone DEFAULT CURRENT_TIMESTAMP NOT NULL,
    last_seen_at timestamp(3) without time zone DEFAULT CURRENT_TIMESTAMP NOT NULL,
    expires_at timestamp(3) without time zone NOT NULL,
    idle_expires_at timestamp(3) without time zone NOT NULL,
    revoked_at timestamp(3) without time zone,
    revoke_reason text,
    ip_address text,
    user_agent text
);


ALTER TABLE public.auth_sessions OWNER TO postgres;

--
-- Name: categories; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.categories (
    id text NOT NULL,
    name text NOT NULL,
    parent_id text,
    sort_order integer DEFAULT 0 NOT NULL,
    created_at timestamp(3) without time zone DEFAULT CURRENT_TIMESTAMP NOT NULL,
    updated_at timestamp(3) without time zone NOT NULL
);


ALTER TABLE public.categories OWNER TO postgres;

--
-- Name: email_verification_tokens; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.email_verification_tokens (
    id text NOT NULL,
    user_id text NOT NULL,
    token_hash text NOT NULL,
    created_at timestamp(3) without time zone DEFAULT CURRENT_TIMESTAMP NOT NULL,
    expires_at timestamp(3) without time zone NOT NULL,
    used_at timestamp(3) without time zone
);


ALTER TABLE public.email_verification_tokens OWNER TO postgres;

--
-- Name: inventory_daily_snapshots; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.inventory_daily_snapshots (
    id text NOT NULL,
    snapshot_date date NOT NULL,
    raw_material_id text NOT NULL,
    on_hand_quantity numeric(14,4) NOT NULL,
    usable_quantity numeric(14,4) NOT NULL,
    inventory_value numeric(14,4) NOT NULL,
    created_at timestamp(3) without time zone DEFAULT CURRENT_TIMESTAMP NOT NULL
);


ALTER TABLE public.inventory_daily_snapshots OWNER TO postgres;

--
-- Name: inventory_transaction_lines; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.inventory_transaction_lines (
    id text NOT NULL,
    inventory_transaction_id text NOT NULL,
    raw_material_id text NOT NULL,
    stock_batch_id text NOT NULL,
    product_variant_id text,
    order_item_id text,
    quantity_delta numeric(14,4) NOT NULL,
    unit_cost_snapshot numeric(14,4) NOT NULL,
    total_cost_delta numeric(14,4) NOT NULL,
    created_at timestamp(3) without time zone DEFAULT CURRENT_TIMESTAMP NOT NULL,
    CONSTRAINT inventory_transaction_lines_quantity_non_zero CHECK ((quantity_delta <> (0)::numeric))
);


ALTER TABLE public.inventory_transaction_lines OWNER TO postgres;

--
-- Name: inventory_transactions; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.inventory_transactions (
    id text NOT NULL,
    type public."InventoryTransactionType" NOT NULL,
    source_type public."InventorySourceType" NOT NULL,
    source_id text,
    actor_user_id text,
    note text,
    occurred_at timestamp(3) without time zone NOT NULL,
    created_at timestamp(3) without time zone DEFAULT CURRENT_TIMESTAMP NOT NULL,
    updated_at timestamp(3) without time zone NOT NULL,
    reason_code text,
    metadata jsonb
);


ALTER TABLE public.inventory_transactions OWNER TO postgres;

--
-- Name: modifier_groups; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.modifier_groups (
    id text NOT NULL,
    name text NOT NULL,
    selection_mode public."ModifierSelectionMode" DEFAULT 'MULTIPLE'::public."ModifierSelectionMode" NOT NULL,
    default_min_select integer DEFAULT 0 NOT NULL,
    default_max_select integer DEFAULT 1 NOT NULL,
    sort_order integer DEFAULT 0 NOT NULL,
    is_active boolean DEFAULT true NOT NULL,
    created_at timestamp(3) without time zone DEFAULT CURRENT_TIMESTAMP NOT NULL,
    updated_at timestamp(3) without time zone NOT NULL
);


ALTER TABLE public.modifier_groups OWNER TO postgres;

--
-- Name: modifier_recipe_adjustments; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.modifier_recipe_adjustments (
    id text NOT NULL,
    modifier_id text NOT NULL,
    raw_material_id text NOT NULL,
    quantity_delta numeric(14,4) NOT NULL,
    created_at timestamp(3) without time zone DEFAULT CURRENT_TIMESTAMP NOT NULL,
    updated_at timestamp(3) without time zone NOT NULL
);


ALTER TABLE public.modifier_recipe_adjustments OWNER TO postgres;

--
-- Name: modifiers; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.modifiers (
    id text NOT NULL,
    modifier_group_id text NOT NULL,
    name text NOT NULL,
    price_adjustment numeric(12,2) DEFAULT 0 NOT NULL,
    sort_order integer DEFAULT 0 NOT NULL,
    is_active boolean DEFAULT true NOT NULL,
    created_at timestamp(3) without time zone DEFAULT CURRENT_TIMESTAMP NOT NULL,
    updated_at timestamp(3) without time zone NOT NULL,
    CONSTRAINT modifiers_price_adjustment_non_negative CHECK ((price_adjustment >= (0)::numeric))
);


ALTER TABLE public.modifiers OWNER TO postgres;

--
-- Name: order_item_modifiers; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.order_item_modifiers (
    id text NOT NULL,
    order_item_id text NOT NULL,
    modifier_id text NOT NULL,
    modifier_name_snapshot text NOT NULL,
    unit_price_adjustment numeric(12,2) NOT NULL,
    quantity integer DEFAULT 1 NOT NULL,
    line_total numeric(12,2) NOT NULL,
    created_at timestamp(3) without time zone DEFAULT CURRENT_TIMESTAMP NOT NULL,
    updated_at timestamp(3) without time zone NOT NULL,
    CONSTRAINT order_item_modifiers_line_total_non_negative CHECK ((line_total >= (0)::numeric)),
    CONSTRAINT order_item_modifiers_quantity_positive CHECK ((quantity > 0)),
    CONSTRAINT order_item_modifiers_unit_price_non_negative CHECK ((unit_price_adjustment >= (0)::numeric))
);


ALTER TABLE public.order_item_modifiers OWNER TO postgres;

--
-- Name: order_items; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.order_items (
    id text NOT NULL,
    order_id text NOT NULL,
    product_variant_id text NOT NULL,
    quantity integer NOT NULL,
    unit_base_price numeric(12,2) NOT NULL,
    unit_modifier_amount numeric(12,2) DEFAULT 0 NOT NULL,
    unit_final_price numeric(12,2) NOT NULL,
    line_subtotal numeric(12,2) NOT NULL,
    unit_cogs_amount numeric(14,4) DEFAULT 0 NOT NULL,
    line_cogs_amount numeric(14,4) DEFAULT 0 NOT NULL,
    note text,
    product_name_snapshot text NOT NULL,
    variant_name_snapshot text NOT NULL,
    sku_snapshot text NOT NULL,
    created_at timestamp(3) without time zone DEFAULT CURRENT_TIMESTAMP NOT NULL,
    updated_at timestamp(3) without time zone NOT NULL,
    CONSTRAINT order_items_line_cogs_non_negative CHECK ((line_cogs_amount >= (0)::numeric)),
    CONSTRAINT order_items_line_subtotal_non_negative CHECK ((line_subtotal >= (0)::numeric)),
    CONSTRAINT order_items_quantity_positive CHECK ((quantity > 0)),
    CONSTRAINT order_items_unit_base_non_negative CHECK ((unit_base_price >= (0)::numeric)),
    CONSTRAINT order_items_unit_cogs_non_negative CHECK ((unit_cogs_amount >= (0)::numeric)),
    CONSTRAINT order_items_unit_final_non_negative CHECK ((unit_final_price >= (0)::numeric)),
    CONSTRAINT order_items_unit_modifier_non_negative CHECK ((unit_modifier_amount >= (0)::numeric))
);


ALTER TABLE public.order_items OWNER TO postgres;

--
-- Name: order_payments; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.order_payments (
    id text NOT NULL,
    order_id text NOT NULL,
    method public."PaymentMethod" NOT NULL,
    amount numeric(12,2) NOT NULL,
    reference text,
    received_at timestamp(3) without time zone DEFAULT CURRENT_TIMESTAMP NOT NULL,
    created_at timestamp(3) without time zone DEFAULT CURRENT_TIMESTAMP NOT NULL,
    updated_at timestamp(3) without time zone NOT NULL,
    CONSTRAINT order_payments_amount_positive CHECK ((amount > (0)::numeric))
);


ALTER TABLE public.order_payments OWNER TO postgres;

--
-- Name: order_reversals; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.order_reversals (
    id text NOT NULL,
    order_id text NOT NULL,
    actor_user_id text NOT NULL,
    type public."OrderReversalType" NOT NULL,
    reason_code text NOT NULL,
    note text,
    amount numeric(12,2) NOT NULL,
    payment_reference text,
    metadata jsonb,
    occurred_at timestamp(3) without time zone DEFAULT CURRENT_TIMESTAMP NOT NULL,
    created_at timestamp(3) without time zone DEFAULT CURRENT_TIMESTAMP NOT NULL,
    updated_at timestamp(3) without time zone NOT NULL
);


ALTER TABLE public.order_reversals OWNER TO postgres;

--
-- Name: orders; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.orders (
    id text NOT NULL,
    status public."OrderStatus" DEFAULT 'COMPLETED'::public."OrderStatus" NOT NULL,
    created_by_user_id text NOT NULL,
    idempotency_key text NOT NULL,
    subtotal_amount numeric(12,2) NOT NULL,
    discount_code text,
    discount_rate numeric(8,4) DEFAULT 0 NOT NULL,
    discount_amount numeric(12,2) DEFAULT 0 NOT NULL,
    tax_amount numeric(12,2) DEFAULT 0 NOT NULL,
    total_amount numeric(12,2) NOT NULL,
    total_cogs_amount numeric(14,4) DEFAULT 0 NOT NULL,
    notes text,
    completed_at timestamp(3) without time zone DEFAULT CURRENT_TIMESTAMP NOT NULL,
    created_at timestamp(3) without time zone DEFAULT CURRENT_TIMESTAMP NOT NULL,
    updated_at timestamp(3) without time zone NOT NULL,
    CONSTRAINT orders_discount_non_negative CHECK ((discount_amount >= (0)::numeric)),
    CONSTRAINT orders_subtotal_non_negative CHECK ((subtotal_amount >= (0)::numeric)),
    CONSTRAINT orders_tax_non_negative CHECK ((tax_amount >= (0)::numeric)),
    CONSTRAINT orders_total_cogs_non_negative CHECK ((total_cogs_amount >= (0)::numeric)),
    CONSTRAINT orders_total_non_negative CHECK ((total_amount >= (0)::numeric))
);


ALTER TABLE public.orders OWNER TO postgres;

--
-- Name: outbox_events; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.outbox_events (
    id text NOT NULL,
    aggregate_type text NOT NULL,
    aggregate_id text NOT NULL,
    event_type text NOT NULL,
    payload jsonb NOT NULL,
    status public."OutboxStatus" DEFAULT 'PENDING'::public."OutboxStatus" NOT NULL,
    attempts integer DEFAULT 0 NOT NULL,
    available_at timestamp(3) without time zone DEFAULT CURRENT_TIMESTAMP NOT NULL,
    processed_at timestamp(3) without time zone,
    error_message text,
    created_at timestamp(3) without time zone DEFAULT CURRENT_TIMESTAMP NOT NULL,
    updated_at timestamp(3) without time zone NOT NULL
);


ALTER TABLE public.outbox_events OWNER TO postgres;

--
-- Name: password_reset_tokens; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.password_reset_tokens (
    id text NOT NULL,
    user_id text NOT NULL,
    token_hash text NOT NULL,
    requested_at timestamp(3) without time zone DEFAULT CURRENT_TIMESTAMP NOT NULL,
    expires_at timestamp(3) without time zone NOT NULL,
    used_at timestamp(3) without time zone
);


ALTER TABLE public.password_reset_tokens OWNER TO postgres;

--
-- Name: product_modifier_groups; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.product_modifier_groups (
    id text NOT NULL,
    product_id text NOT NULL,
    modifier_group_id text NOT NULL,
    min_select integer DEFAULT 0 NOT NULL,
    max_select integer DEFAULT 1 NOT NULL,
    is_required boolean DEFAULT false NOT NULL,
    allow_quantity boolean DEFAULT false NOT NULL,
    sort_order integer DEFAULT 0 NOT NULL,
    created_at timestamp(3) without time zone DEFAULT CURRENT_TIMESTAMP NOT NULL,
    updated_at timestamp(3) without time zone NOT NULL,
    CONSTRAINT product_modifier_groups_max_positive CHECK ((max_select > 0)),
    CONSTRAINT product_modifier_groups_min_non_negative CHECK ((min_select >= 0)),
    CONSTRAINT product_modifier_groups_min_not_above_max CHECK ((min_select <= max_select))
);


ALTER TABLE public.product_modifier_groups OWNER TO postgres;

--
-- Name: product_variants; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.product_variants (
    id text NOT NULL,
    product_id text NOT NULL,
    name text NOT NULL,
    price numeric(12,2) NOT NULL,
    sku text NOT NULL,
    is_enabled boolean DEFAULT true NOT NULL,
    created_at timestamp(3) without time zone DEFAULT CURRENT_TIMESTAMP NOT NULL,
    updated_at timestamp(3) without time zone NOT NULL,
    CONSTRAINT product_variants_price_non_negative CHECK ((price >= (0)::numeric))
);


ALTER TABLE public.product_variants OWNER TO postgres;

--
-- Name: products; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.products (
    id text NOT NULL,
    category_id text NOT NULL,
    name text NOT NULL,
    is_enabled boolean DEFAULT true NOT NULL,
    created_at timestamp(3) without time zone DEFAULT CURRENT_TIMESTAMP NOT NULL,
    updated_at timestamp(3) without time zone NOT NULL
);


ALTER TABLE public.products OWNER TO postgres;

--
-- Name: raw_material_inventory_summaries; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.raw_material_inventory_summaries (
    raw_material_id text NOT NULL,
    on_hand_quantity numeric(14,4) NOT NULL,
    usable_quantity numeric(14,4) NOT NULL,
    nearest_expiry_date date,
    active_batch_count integer DEFAULT 0 NOT NULL,
    updated_at timestamp(3) without time zone NOT NULL
);


ALTER TABLE public.raw_material_inventory_summaries OWNER TO postgres;

--
-- Name: raw_materials; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.raw_materials (
    id text NOT NULL,
    unit_id text NOT NULL,
    name text NOT NULL,
    sku text NOT NULL,
    reorder_point numeric(14,4) DEFAULT 0 NOT NULL,
    is_active boolean DEFAULT true NOT NULL,
    created_at timestamp(3) without time zone DEFAULT CURRENT_TIMESTAMP NOT NULL,
    updated_at timestamp(3) without time zone NOT NULL,
    CONSTRAINT raw_materials_reorder_point_non_negative CHECK ((reorder_point >= (0)::numeric))
);


ALTER TABLE public.raw_materials OWNER TO postgres;

--
-- Name: stock_batches; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.stock_batches (
    id text NOT NULL,
    raw_material_id text NOT NULL,
    supplier_id text,
    stock_run_item_id text,
    initial_quantity numeric(14,4) NOT NULL,
    remaining_quantity numeric(14,4) NOT NULL,
    cost_per_unit numeric(14,4) NOT NULL,
    expiration_date date,
    received_at timestamp(3) without time zone NOT NULL,
    created_at timestamp(3) without time zone DEFAULT CURRENT_TIMESTAMP NOT NULL,
    updated_at timestamp(3) without time zone NOT NULL,
    CONSTRAINT stock_batches_cost_per_unit_non_negative CHECK ((cost_per_unit >= (0)::numeric)),
    CONSTRAINT stock_batches_initial_quantity_non_negative CHECK ((initial_quantity >= (0)::numeric)),
    CONSTRAINT stock_batches_remaining_not_above_initial CHECK ((remaining_quantity <= initial_quantity)),
    CONSTRAINT stock_batches_remaining_quantity_non_negative CHECK ((remaining_quantity >= (0)::numeric))
);


ALTER TABLE public.stock_batches OWNER TO postgres;

--
-- Name: stock_run_items; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.stock_run_items (
    id text NOT NULL,
    stock_run_id text NOT NULL,
    raw_material_id text NOT NULL,
    supplier_id text,
    quantity numeric(14,4) NOT NULL,
    cost_per_unit numeric(14,4) NOT NULL,
    expiration_date date,
    received_at timestamp(3) without time zone,
    note text,
    created_at timestamp(3) without time zone DEFAULT CURRENT_TIMESTAMP NOT NULL,
    updated_at timestamp(3) without time zone NOT NULL,
    CONSTRAINT stock_run_items_cost_per_unit_positive CHECK ((cost_per_unit > (0)::numeric)),
    CONSTRAINT stock_run_items_quantity_positive CHECK ((quantity > (0)::numeric))
);


ALTER TABLE public.stock_run_items OWNER TO postgres;

--
-- Name: stock_runs; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.stock_runs (
    id text NOT NULL,
    name text NOT NULL,
    status public."StockRunStatus" DEFAULT 'DRAFT'::public."StockRunStatus" NOT NULL,
    created_by_user_id text NOT NULL,
    total_cost numeric(14,4) DEFAULT 0 NOT NULL,
    notes text,
    posted_at timestamp(3) without time zone,
    created_at timestamp(3) without time zone DEFAULT CURRENT_TIMESTAMP NOT NULL,
    updated_at timestamp(3) without time zone NOT NULL
);


ALTER TABLE public.stock_runs OWNER TO postgres;

--
-- Name: stockout_events; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.stockout_events (
    id text NOT NULL,
    entity_type public."StockoutEntityType" NOT NULL,
    entity_id text NOT NULL,
    raw_material_id text,
    product_variant_id text,
    started_at timestamp(3) without time zone NOT NULL,
    ended_at timestamp(3) without time zone,
    blocking_context text,
    created_at timestamp(3) without time zone DEFAULT CURRENT_TIMESTAMP NOT NULL,
    updated_at timestamp(3) without time zone NOT NULL
);


ALTER TABLE public.stockout_events OWNER TO postgres;

--
-- Name: suppliers; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.suppliers (
    id text NOT NULL,
    name text NOT NULL,
    latitude numeric(9,6),
    longitude numeric(9,6),
    address text,
    contact_info text,
    created_at timestamp(3) without time zone DEFAULT CURRENT_TIMESTAMP NOT NULL,
    updated_at timestamp(3) without time zone NOT NULL
);


ALTER TABLE public.suppliers OWNER TO postgres;

--
-- Name: units; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.units (
    id text NOT NULL,
    code text NOT NULL,
    name text NOT NULL,
    dimension public."UnitDimension" NOT NULL,
    conversion_factor numeric(14,4) NOT NULL,
    created_at timestamp(3) without time zone DEFAULT CURRENT_TIMESTAMP NOT NULL,
    updated_at timestamp(3) without time zone NOT NULL
);


ALTER TABLE public.units OWNER TO postgres;

--
-- Name: users; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.users (
    id text NOT NULL,
    username text,
    email text NOT NULL,
    password_hash text NOT NULL,
    first_name text NOT NULL,
    last_name text NOT NULL,
    middle_initial character varying(1),
    is_active boolean DEFAULT true NOT NULL,
    created_at timestamp(3) without time zone DEFAULT CURRENT_TIMESTAMP NOT NULL,
    updated_at timestamp(3) without time zone NOT NULL,
    role public."Role" NOT NULL,
    email_verified_at timestamp(3) without time zone,
    password_changed_at timestamp(3) without time zone DEFAULT CURRENT_TIMESTAMP NOT NULL,
    last_login_at timestamp(3) without time zone,
    failed_login_attempts integer DEFAULT 0 NOT NULL,
    locked_until timestamp(3) without time zone
);


ALTER TABLE public.users OWNER TO postgres;

--
-- Name: variant_availability_events; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.variant_availability_events (
    id text NOT NULL,
    product_variant_id text NOT NULL,
    previous_is_sellable boolean,
    new_is_sellable boolean NOT NULL,
    previous_blocking_reason public."AvailabilityBlockingReason",
    blocking_reason public."AvailabilityBlockingReason" NOT NULL,
    available_base_qty integer,
    occurred_at timestamp(3) without time zone DEFAULT CURRENT_TIMESTAMP NOT NULL,
    created_at timestamp(3) without time zone DEFAULT CURRENT_TIMESTAMP NOT NULL
);


ALTER TABLE public.variant_availability_events OWNER TO postgres;

--
-- Name: variant_availability_summaries; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.variant_availability_summaries (
    product_variant_id text NOT NULL,
    is_in_stock boolean DEFAULT false NOT NULL,
    is_sellable boolean DEFAULT false NOT NULL,
    available_base_qty integer DEFAULT 0 NOT NULL,
    blocking_reason public."AvailabilityBlockingReason" DEFAULT 'NONE'::public."AvailabilityBlockingReason" NOT NULL,
    updated_at timestamp(3) without time zone NOT NULL
);


ALTER TABLE public.variant_availability_summaries OWNER TO postgres;

--
-- Name: variant_recipe_items; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.variant_recipe_items (
    id text NOT NULL,
    product_variant_id text NOT NULL,
    raw_material_id text NOT NULL,
    quantity numeric(14,4) NOT NULL,
    created_at timestamp(3) without time zone DEFAULT CURRENT_TIMESTAMP NOT NULL,
    updated_at timestamp(3) without time zone NOT NULL,
    CONSTRAINT variant_recipe_items_quantity_positive CHECK ((quantity > (0)::numeric))
);


ALTER TABLE public.variant_recipe_items OWNER TO postgres;

--
-- Data for Name: _prisma_migrations; Type: TABLE DATA; Schema: public; Owner: postgres
--



--
-- Data for Name: alerts; Type: TABLE DATA; Schema: public; Owner: postgres
--



--
-- Data for Name: auth_sessions; Type: TABLE DATA; Schema: public; Owner: postgres
--



--
-- Data for Name: categories; Type: TABLE DATA; Schema: public; Owner: postgres
--



--
-- Data for Name: email_verification_tokens; Type: TABLE DATA; Schema: public; Owner: postgres
--

COPY public.email_verification_tokens (id, user_id, token_hash, created_at, expires_at, used_at) FROM stdin;
\.


--
-- Data for Name: inventory_daily_snapshots; Type: TABLE DATA; Schema: public; Owner: postgres
--



--
-- Data for Name: inventory_transaction_lines; Type: TABLE DATA; Schema: public; Owner: postgres
--



--
-- Data for Name: inventory_transactions; Type: TABLE DATA; Schema: public; Owner: postgres
--



--
-- Data for Name: modifier_groups; Type: TABLE DATA; Schema: public; Owner: postgres
--



--
-- Data for Name: modifier_recipe_adjustments; Type: TABLE DATA; Schema: public; Owner: postgres
--

COPY public.modifier_recipe_adjustments (id, modifier_id, raw_material_id, quantity_delta, created_at, updated_at) FROM stdin;
\.


--
-- Data for Name: modifiers; Type: TABLE DATA; Schema: public; Owner: postgres
--



--
-- Data for Name: order_item_modifiers; Type: TABLE DATA; Schema: public; Owner: postgres
--



--
-- Data for Name: order_items; Type: TABLE DATA; Schema: public; Owner: postgres
--



--
-- Data for Name: order_payments; Type: TABLE DATA; Schema: public; Owner: postgres
--



--
-- Data for Name: order_reversals; Type: TABLE DATA; Schema: public; Owner: postgres
--



--
-- Data for Name: orders; Type: TABLE DATA; Schema: public; Owner: postgres
--



--
-- Data for Name: outbox_events; Type: TABLE DATA; Schema: public; Owner: postgres
--



--
-- Data for Name: password_reset_tokens; Type: TABLE DATA; Schema: public; Owner: postgres
--

COPY public.password_reset_tokens (id, user_id, token_hash, requested_at, expires_at, used_at) FROM stdin;
\.


--
-- Data for Name: product_modifier_groups; Type: TABLE DATA; Schema: public; Owner: postgres
--



--
-- Data for Name: product_variants; Type: TABLE DATA; Schema: public; Owner: postgres
--



--
-- Data for Name: products; Type: TABLE DATA; Schema: public; Owner: postgres
--



--
-- Data for Name: raw_material_inventory_summaries; Type: TABLE DATA; Schema: public; Owner: postgres
--



--
-- Data for Name: raw_materials; Type: TABLE DATA; Schema: public; Owner: postgres
--



--
-- Data for Name: stock_batches; Type: TABLE DATA; Schema: public; Owner: postgres
--



--
-- Data for Name: stock_run_items; Type: TABLE DATA; Schema: public; Owner: postgres
--



--
-- Data for Name: stock_runs; Type: TABLE DATA; Schema: public; Owner: postgres
--



--
-- Data for Name: stockout_events; Type: TABLE DATA; Schema: public; Owner: postgres
--

COPY public.stockout_events (id, entity_type, entity_id, raw_material_id, product_variant_id, started_at, ended_at, blocking_context, created_at, updated_at) FROM stdin;
\.


--
-- Data for Name: suppliers; Type: TABLE DATA; Schema: public; Owner: postgres
--



--
-- Data for Name: units; Type: TABLE DATA; Schema: public; Owner: postgres
--



--
-- Data for Name: users; Type: TABLE DATA; Schema: public; Owner: postgres
--



--
-- Data for Name: variant_availability_events; Type: TABLE DATA; Schema: public; Owner: postgres
--

COPY public.variant_availability_events (id, product_variant_id, previous_is_sellable, new_is_sellable, previous_blocking_reason, blocking_reason, available_base_qty, occurred_at, created_at) FROM stdin;
\.


--
-- Data for Name: variant_availability_summaries; Type: TABLE DATA; Schema: public; Owner: postgres
--



--
-- Data for Name: variant_recipe_items; Type: TABLE DATA; Schema: public; Owner: postgres
--



--
-- Name: _prisma_migrations _prisma_migrations_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public._prisma_migrations
    ADD CONSTRAINT _prisma_migrations_pkey PRIMARY KEY (id);


--
-- Name: alerts alerts_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.alerts
    ADD CONSTRAINT alerts_pkey PRIMARY KEY (id);


--
-- Name: auth_sessions auth_sessions_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.auth_sessions
    ADD CONSTRAINT auth_sessions_pkey PRIMARY KEY (id);


--
-- Name: categories categories_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.categories
    ADD CONSTRAINT categories_pkey PRIMARY KEY (id);


--
-- Name: email_verification_tokens email_verification_tokens_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.email_verification_tokens
    ADD CONSTRAINT email_verification_tokens_pkey PRIMARY KEY (id);


--
-- Name: inventory_daily_snapshots inventory_daily_snapshots_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.inventory_daily_snapshots
    ADD CONSTRAINT inventory_daily_snapshots_pkey PRIMARY KEY (id);


--
-- Name: inventory_transaction_lines inventory_transaction_lines_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.inventory_transaction_lines
    ADD CONSTRAINT inventory_transaction_lines_pkey PRIMARY KEY (id);


--
-- Name: inventory_transactions inventory_transactions_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.inventory_transactions
    ADD CONSTRAINT inventory_transactions_pkey PRIMARY KEY (id);


--
-- Name: modifier_groups modifier_groups_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.modifier_groups
    ADD CONSTRAINT modifier_groups_pkey PRIMARY KEY (id);


--
-- Name: modifier_recipe_adjustments modifier_recipe_adjustments_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.modifier_recipe_adjustments
    ADD CONSTRAINT modifier_recipe_adjustments_pkey PRIMARY KEY (id);


--
-- Name: modifiers modifiers_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.modifiers
    ADD CONSTRAINT modifiers_pkey PRIMARY KEY (id);


--
-- Name: order_item_modifiers order_item_modifiers_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.order_item_modifiers
    ADD CONSTRAINT order_item_modifiers_pkey PRIMARY KEY (id);


--
-- Name: order_items order_items_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.order_items
    ADD CONSTRAINT order_items_pkey PRIMARY KEY (id);


--
-- Name: order_payments order_payments_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.order_payments
    ADD CONSTRAINT order_payments_pkey PRIMARY KEY (id);


--
-- Name: order_reversals order_reversals_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.order_reversals
    ADD CONSTRAINT order_reversals_pkey PRIMARY KEY (id);


--
-- Name: orders orders_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.orders
    ADD CONSTRAINT orders_pkey PRIMARY KEY (id);


--
-- Name: outbox_events outbox_events_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.outbox_events
    ADD CONSTRAINT outbox_events_pkey PRIMARY KEY (id);


--
-- Name: password_reset_tokens password_reset_tokens_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.password_reset_tokens
    ADD CONSTRAINT password_reset_tokens_pkey PRIMARY KEY (id);


--
-- Name: product_modifier_groups product_modifier_groups_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.product_modifier_groups
    ADD CONSTRAINT product_modifier_groups_pkey PRIMARY KEY (id);


--
-- Name: product_variants product_variants_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.product_variants
    ADD CONSTRAINT product_variants_pkey PRIMARY KEY (id);


--
-- Name: products products_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.products
    ADD CONSTRAINT products_pkey PRIMARY KEY (id);


--
-- Name: raw_material_inventory_summaries raw_material_inventory_summaries_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.raw_material_inventory_summaries
    ADD CONSTRAINT raw_material_inventory_summaries_pkey PRIMARY KEY (raw_material_id);


--
-- Name: raw_materials raw_materials_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.raw_materials
    ADD CONSTRAINT raw_materials_pkey PRIMARY KEY (id);


--
-- Name: stock_batches stock_batches_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.stock_batches
    ADD CONSTRAINT stock_batches_pkey PRIMARY KEY (id);


--
-- Name: stock_run_items stock_run_items_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.stock_run_items
    ADD CONSTRAINT stock_run_items_pkey PRIMARY KEY (id);


--
-- Name: stock_runs stock_runs_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.stock_runs
    ADD CONSTRAINT stock_runs_pkey PRIMARY KEY (id);


--
-- Name: stockout_events stockout_events_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.stockout_events
    ADD CONSTRAINT stockout_events_pkey PRIMARY KEY (id);


--
-- Name: suppliers suppliers_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.suppliers
    ADD CONSTRAINT suppliers_pkey PRIMARY KEY (id);


--
-- Name: units units_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.units
    ADD CONSTRAINT units_pkey PRIMARY KEY (id);


--
-- Name: users users_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.users
    ADD CONSTRAINT users_pkey PRIMARY KEY (id);


--
-- Name: variant_availability_events variant_availability_events_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.variant_availability_events
    ADD CONSTRAINT variant_availability_events_pkey PRIMARY KEY (id);


--
-- Name: variant_availability_summaries variant_availability_summaries_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.variant_availability_summaries
    ADD CONSTRAINT variant_availability_summaries_pkey PRIMARY KEY (product_variant_id);


--
-- Name: variant_recipe_items variant_recipe_items_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.variant_recipe_items
    ADD CONSTRAINT variant_recipe_items_pkey PRIMARY KEY (id);


--
-- Name: alerts_dedupe_key_key; Type: INDEX; Schema: public; Owner: postgres
--

CREATE UNIQUE INDEX alerts_dedupe_key_key ON public.alerts USING btree (dedupe_key);


--
-- Name: alerts_raw_material_id_idx; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX alerts_raw_material_id_idx ON public.alerts USING btree (raw_material_id);


--
-- Name: alerts_state_severity_last_triggered_at_idx; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX alerts_state_severity_last_triggered_at_idx ON public.alerts USING btree (state, severity, last_triggered_at);


--
-- Name: alerts_stock_batch_id_idx; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX alerts_stock_batch_id_idx ON public.alerts USING btree (stock_batch_id);


--
-- Name: alerts_type_state_last_triggered_at_idx; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX alerts_type_state_last_triggered_at_idx ON public.alerts USING btree (type, state, last_triggered_at);


--
-- Name: auth_sessions_expires_at_idx; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX auth_sessions_expires_at_idx ON public.auth_sessions USING btree (expires_at);


--
-- Name: auth_sessions_idle_expires_at_idx; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX auth_sessions_idle_expires_at_idx ON public.auth_sessions USING btree (idle_expires_at);


--
-- Name: auth_sessions_session_token_hash_key; Type: INDEX; Schema: public; Owner: postgres
--

CREATE UNIQUE INDEX auth_sessions_session_token_hash_key ON public.auth_sessions USING btree (session_token_hash);


--
-- Name: auth_sessions_user_id_idx; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX auth_sessions_user_id_idx ON public.auth_sessions USING btree (user_id);


--
-- Name: auth_sessions_user_id_revoked_at_idx; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX auth_sessions_user_id_revoked_at_idx ON public.auth_sessions USING btree (user_id, revoked_at);


--
-- Name: categories_parent_id_idx; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX categories_parent_id_idx ON public.categories USING btree (parent_id);


--
-- Name: categories_parent_id_name_key; Type: INDEX; Schema: public; Owner: postgres
--

CREATE UNIQUE INDEX categories_parent_id_name_key ON public.categories USING btree (parent_id, name);


--
-- Name: categories_sort_order_name_idx; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX categories_sort_order_name_idx ON public.categories USING btree (sort_order, name);


--
-- Name: email_verification_tokens_expires_at_idx; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX email_verification_tokens_expires_at_idx ON public.email_verification_tokens USING btree (expires_at);


--
-- Name: email_verification_tokens_token_hash_key; Type: INDEX; Schema: public; Owner: postgres
--

CREATE UNIQUE INDEX email_verification_tokens_token_hash_key ON public.email_verification_tokens USING btree (token_hash);


--
-- Name: email_verification_tokens_user_id_idx; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX email_verification_tokens_user_id_idx ON public.email_verification_tokens USING btree (user_id);


--
-- Name: idx_outbox_events_pending; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX idx_outbox_events_pending ON public.outbox_events USING btree (status, available_at) WHERE (status = ANY (ARRAY['PENDING'::public."OutboxStatus", 'FAILED'::public."OutboxStatus"]));


--
-- Name: idx_stock_batches_open_fefo; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX idx_stock_batches_open_fefo ON public.stock_batches USING btree (raw_material_id, expiration_date, received_at) WHERE (remaining_quantity > (0)::numeric);


--
-- Name: inventory_daily_snapshots_raw_material_id_snapshot_date_idx; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX inventory_daily_snapshots_raw_material_id_snapshot_date_idx ON public.inventory_daily_snapshots USING btree (raw_material_id, snapshot_date);


--
-- Name: inventory_daily_snapshots_snapshot_date_idx; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX inventory_daily_snapshots_snapshot_date_idx ON public.inventory_daily_snapshots USING btree (snapshot_date);


--
-- Name: inventory_daily_snapshots_snapshot_date_raw_material_id_key; Type: INDEX; Schema: public; Owner: postgres
--

CREATE UNIQUE INDEX inventory_daily_snapshots_snapshot_date_raw_material_id_key ON public.inventory_daily_snapshots USING btree (snapshot_date, raw_material_id);


--
-- Name: inventory_transaction_lines_inventory_transaction_id_idx; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX inventory_transaction_lines_inventory_transaction_id_idx ON public.inventory_transaction_lines USING btree (inventory_transaction_id);


--
-- Name: inventory_transaction_lines_order_item_id_idx; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX inventory_transaction_lines_order_item_id_idx ON public.inventory_transaction_lines USING btree (order_item_id);


--
-- Name: inventory_transaction_lines_raw_material_id_created_at_idx; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX inventory_transaction_lines_raw_material_id_created_at_idx ON public.inventory_transaction_lines USING btree (raw_material_id, created_at);


--
-- Name: inventory_transaction_lines_stock_batch_id_idx; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX inventory_transaction_lines_stock_batch_id_idx ON public.inventory_transaction_lines USING btree (stock_batch_id);


--
-- Name: inventory_transactions_actor_user_id_idx; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX inventory_transactions_actor_user_id_idx ON public.inventory_transactions USING btree (actor_user_id);


--
-- Name: inventory_transactions_source_type_source_id_idx; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX inventory_transactions_source_type_source_id_idx ON public.inventory_transactions USING btree (source_type, source_id);


--
-- Name: inventory_transactions_type_occurred_at_idx; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX inventory_transactions_type_occurred_at_idx ON public.inventory_transactions USING btree (type, occurred_at);


--
-- Name: modifier_groups_name_key; Type: INDEX; Schema: public; Owner: postgres
--

CREATE UNIQUE INDEX modifier_groups_name_key ON public.modifier_groups USING btree (name);


--
-- Name: modifier_groups_sort_order_name_idx; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX modifier_groups_sort_order_name_idx ON public.modifier_groups USING btree (sort_order, name);


--
-- Name: modifier_recipe_adjustments_modifier_id_raw_material_id_key; Type: INDEX; Schema: public; Owner: postgres
--

CREATE UNIQUE INDEX modifier_recipe_adjustments_modifier_id_raw_material_id_key ON public.modifier_recipe_adjustments USING btree (modifier_id, raw_material_id);


--
-- Name: modifier_recipe_adjustments_raw_material_id_idx; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX modifier_recipe_adjustments_raw_material_id_idx ON public.modifier_recipe_adjustments USING btree (raw_material_id);


--
-- Name: modifiers_modifier_group_id_name_key; Type: INDEX; Schema: public; Owner: postgres
--

CREATE UNIQUE INDEX modifiers_modifier_group_id_name_key ON public.modifiers USING btree (modifier_group_id, name);


--
-- Name: modifiers_modifier_group_id_sort_order_idx; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX modifiers_modifier_group_id_sort_order_idx ON public.modifiers USING btree (modifier_group_id, sort_order);


--
-- Name: order_item_modifiers_order_item_id_idx; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX order_item_modifiers_order_item_id_idx ON public.order_item_modifiers USING btree (order_item_id);


--
-- Name: order_items_order_id_idx; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX order_items_order_id_idx ON public.order_items USING btree (order_id);


--
-- Name: order_items_product_variant_id_idx; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX order_items_product_variant_id_idx ON public.order_items USING btree (product_variant_id);


--
-- Name: order_payments_order_id_idx; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX order_payments_order_id_idx ON public.order_payments USING btree (order_id);


--
-- Name: order_reversals_actor_user_id_occurred_at_idx; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX order_reversals_actor_user_id_occurred_at_idx ON public.order_reversals USING btree (actor_user_id, occurred_at);


--
-- Name: order_reversals_order_id_key; Type: INDEX; Schema: public; Owner: postgres
--

CREATE UNIQUE INDEX order_reversals_order_id_key ON public.order_reversals USING btree (order_id);


--
-- Name: order_reversals_type_occurred_at_idx; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX order_reversals_type_occurred_at_idx ON public.order_reversals USING btree (type, occurred_at);


--
-- Name: orders_created_by_user_id_created_at_idx; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX orders_created_by_user_id_created_at_idx ON public.orders USING btree (created_by_user_id, created_at);


--
-- Name: orders_idempotency_key_key; Type: INDEX; Schema: public; Owner: postgres
--

CREATE UNIQUE INDEX orders_idempotency_key_key ON public.orders USING btree (idempotency_key);


--
-- Name: orders_status_created_at_idx; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX orders_status_created_at_idx ON public.orders USING btree (status, created_at);


--
-- Name: outbox_events_status_available_at_idx; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX outbox_events_status_available_at_idx ON public.outbox_events USING btree (status, available_at);


--
-- Name: password_reset_tokens_expires_at_idx; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX password_reset_tokens_expires_at_idx ON public.password_reset_tokens USING btree (expires_at);


--
-- Name: password_reset_tokens_token_hash_key; Type: INDEX; Schema: public; Owner: postgres
--

CREATE UNIQUE INDEX password_reset_tokens_token_hash_key ON public.password_reset_tokens USING btree (token_hash);


--
-- Name: password_reset_tokens_user_id_idx; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX password_reset_tokens_user_id_idx ON public.password_reset_tokens USING btree (user_id);


--
-- Name: product_modifier_groups_product_id_modifier_group_id_key; Type: INDEX; Schema: public; Owner: postgres
--

CREATE UNIQUE INDEX product_modifier_groups_product_id_modifier_group_id_key ON public.product_modifier_groups USING btree (product_id, modifier_group_id);


--
-- Name: product_modifier_groups_product_id_sort_order_idx; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX product_modifier_groups_product_id_sort_order_idx ON public.product_modifier_groups USING btree (product_id, sort_order);


--
-- Name: product_variants_product_id_is_enabled_idx; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX product_variants_product_id_is_enabled_idx ON public.product_variants USING btree (product_id, is_enabled);


--
-- Name: product_variants_product_id_name_key; Type: INDEX; Schema: public; Owner: postgres
--

CREATE UNIQUE INDEX product_variants_product_id_name_key ON public.product_variants USING btree (product_id, name);


--
-- Name: product_variants_sku_key; Type: INDEX; Schema: public; Owner: postgres
--

CREATE UNIQUE INDEX product_variants_sku_key ON public.product_variants USING btree (sku);


--
-- Name: products_category_id_is_enabled_idx; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX products_category_id_is_enabled_idx ON public.products USING btree (category_id, is_enabled);


--
-- Name: products_category_id_name_key; Type: INDEX; Schema: public; Owner: postgres
--

CREATE UNIQUE INDEX products_category_id_name_key ON public.products USING btree (category_id, name);


--
-- Name: raw_materials_is_active_idx; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX raw_materials_is_active_idx ON public.raw_materials USING btree (is_active);


--
-- Name: raw_materials_sku_key; Type: INDEX; Schema: public; Owner: postgres
--

CREATE UNIQUE INDEX raw_materials_sku_key ON public.raw_materials USING btree (sku);


--
-- Name: raw_materials_unit_id_idx; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX raw_materials_unit_id_idx ON public.raw_materials USING btree (unit_id);


--
-- Name: stock_batches_raw_material_id_expiration_date_received_at_idx; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX stock_batches_raw_material_id_expiration_date_received_at_idx ON public.stock_batches USING btree (raw_material_id, expiration_date, received_at);


--
-- Name: stock_batches_remaining_quantity_idx; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX stock_batches_remaining_quantity_idx ON public.stock_batches USING btree (remaining_quantity);


--
-- Name: stock_batches_stock_run_item_id_key; Type: INDEX; Schema: public; Owner: postgres
--

CREATE UNIQUE INDEX stock_batches_stock_run_item_id_key ON public.stock_batches USING btree (stock_run_item_id);


--
-- Name: stock_run_items_raw_material_id_idx; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX stock_run_items_raw_material_id_idx ON public.stock_run_items USING btree (raw_material_id);


--
-- Name: stock_run_items_stock_run_id_idx; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX stock_run_items_stock_run_id_idx ON public.stock_run_items USING btree (stock_run_id);


--
-- Name: stock_runs_created_by_user_id_idx; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX stock_runs_created_by_user_id_idx ON public.stock_runs USING btree (created_by_user_id);


--
-- Name: stock_runs_status_created_at_idx; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX stock_runs_status_created_at_idx ON public.stock_runs USING btree (status, created_at);


--
-- Name: stockout_events_ended_at_idx; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX stockout_events_ended_at_idx ON public.stockout_events USING btree (ended_at);


--
-- Name: stockout_events_entity_type_entity_id_started_at_idx; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX stockout_events_entity_type_entity_id_started_at_idx ON public.stockout_events USING btree (entity_type, entity_id, started_at);


--
-- Name: stockout_events_product_variant_id_started_at_idx; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX stockout_events_product_variant_id_started_at_idx ON public.stockout_events USING btree (product_variant_id, started_at);


--
-- Name: stockout_events_raw_material_id_started_at_idx; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX stockout_events_raw_material_id_started_at_idx ON public.stockout_events USING btree (raw_material_id, started_at);


--
-- Name: suppliers_name_key; Type: INDEX; Schema: public; Owner: postgres
--

CREATE UNIQUE INDEX suppliers_name_key ON public.suppliers USING btree (name);


--
-- Name: units_code_key; Type: INDEX; Schema: public; Owner: postgres
--

CREATE UNIQUE INDEX units_code_key ON public.units USING btree (code);


--
-- Name: units_name_key; Type: INDEX; Schema: public; Owner: postgres
--

CREATE UNIQUE INDEX units_name_key ON public.units USING btree (name);


--
-- Name: users_email_key; Type: INDEX; Schema: public; Owner: postgres
--

CREATE UNIQUE INDEX users_email_key ON public.users USING btree (email);


--
-- Name: users_role_idx; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX users_role_idx ON public.users USING btree (role);


--
-- Name: users_username_key; Type: INDEX; Schema: public; Owner: postgres
--

CREATE UNIQUE INDEX users_username_key ON public.users USING btree (username);


--
-- Name: variant_availability_events_occurred_at_idx; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX variant_availability_events_occurred_at_idx ON public.variant_availability_events USING btree (occurred_at);


--
-- Name: variant_availability_events_product_variant_id_occurred_at_idx; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX variant_availability_events_product_variant_id_occurred_at_idx ON public.variant_availability_events USING btree (product_variant_id, occurred_at);


--
-- Name: variant_recipe_items_product_variant_id_raw_material_id_key; Type: INDEX; Schema: public; Owner: postgres
--

CREATE UNIQUE INDEX variant_recipe_items_product_variant_id_raw_material_id_key ON public.variant_recipe_items USING btree (product_variant_id, raw_material_id);


--
-- Name: variant_recipe_items_raw_material_id_idx; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX variant_recipe_items_raw_material_id_idx ON public.variant_recipe_items USING btree (raw_material_id);


--
-- Name: alerts alerts_acknowledged_by_user_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.alerts
    ADD CONSTRAINT alerts_acknowledged_by_user_id_fkey FOREIGN KEY (acknowledged_by_user_id) REFERENCES public.users(id) ON UPDATE CASCADE ON DELETE SET NULL;


--
-- Name: alerts alerts_dismissed_by_user_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.alerts
    ADD CONSTRAINT alerts_dismissed_by_user_id_fkey FOREIGN KEY (dismissed_by_user_id) REFERENCES public.users(id) ON UPDATE CASCADE ON DELETE SET NULL;


--
-- Name: alerts alerts_raw_material_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.alerts
    ADD CONSTRAINT alerts_raw_material_id_fkey FOREIGN KEY (raw_material_id) REFERENCES public.raw_materials(id) ON UPDATE CASCADE ON DELETE SET NULL;


--
-- Name: alerts alerts_stock_batch_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.alerts
    ADD CONSTRAINT alerts_stock_batch_id_fkey FOREIGN KEY (stock_batch_id) REFERENCES public.stock_batches(id) ON UPDATE CASCADE ON DELETE SET NULL;


--
-- Name: alerts alerts_supplier_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.alerts
    ADD CONSTRAINT alerts_supplier_id_fkey FOREIGN KEY (supplier_id) REFERENCES public.suppliers(id) ON UPDATE CASCADE ON DELETE SET NULL;


--
-- Name: auth_sessions auth_sessions_user_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.auth_sessions
    ADD CONSTRAINT auth_sessions_user_id_fkey FOREIGN KEY (user_id) REFERENCES public.users(id) ON UPDATE CASCADE ON DELETE CASCADE;


--
-- Name: categories categories_parent_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.categories
    ADD CONSTRAINT categories_parent_id_fkey FOREIGN KEY (parent_id) REFERENCES public.categories(id) ON UPDATE CASCADE ON DELETE SET NULL;


--
-- Name: email_verification_tokens email_verification_tokens_user_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.email_verification_tokens
    ADD CONSTRAINT email_verification_tokens_user_id_fkey FOREIGN KEY (user_id) REFERENCES public.users(id) ON UPDATE CASCADE ON DELETE CASCADE;


--
-- Name: inventory_daily_snapshots inventory_daily_snapshots_raw_material_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.inventory_daily_snapshots
    ADD CONSTRAINT inventory_daily_snapshots_raw_material_id_fkey FOREIGN KEY (raw_material_id) REFERENCES public.raw_materials(id) ON UPDATE CASCADE ON DELETE CASCADE;


--
-- Name: inventory_transaction_lines inventory_transaction_lines_inventory_transaction_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.inventory_transaction_lines
    ADD CONSTRAINT inventory_transaction_lines_inventory_transaction_id_fkey FOREIGN KEY (inventory_transaction_id) REFERENCES public.inventory_transactions(id) ON UPDATE CASCADE ON DELETE CASCADE;


--
-- Name: inventory_transaction_lines inventory_transaction_lines_order_item_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.inventory_transaction_lines
    ADD CONSTRAINT inventory_transaction_lines_order_item_id_fkey FOREIGN KEY (order_item_id) REFERENCES public.order_items(id) ON UPDATE CASCADE ON DELETE SET NULL;


--
-- Name: inventory_transaction_lines inventory_transaction_lines_product_variant_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.inventory_transaction_lines
    ADD CONSTRAINT inventory_transaction_lines_product_variant_id_fkey FOREIGN KEY (product_variant_id) REFERENCES public.product_variants(id) ON UPDATE CASCADE ON DELETE SET NULL;


--
-- Name: inventory_transaction_lines inventory_transaction_lines_raw_material_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.inventory_transaction_lines
    ADD CONSTRAINT inventory_transaction_lines_raw_material_id_fkey FOREIGN KEY (raw_material_id) REFERENCES public.raw_materials(id) ON UPDATE CASCADE ON DELETE RESTRICT;


--
-- Name: inventory_transaction_lines inventory_transaction_lines_stock_batch_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.inventory_transaction_lines
    ADD CONSTRAINT inventory_transaction_lines_stock_batch_id_fkey FOREIGN KEY (stock_batch_id) REFERENCES public.stock_batches(id) ON UPDATE CASCADE ON DELETE RESTRICT;


--
-- Name: inventory_transactions inventory_transactions_actor_user_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.inventory_transactions
    ADD CONSTRAINT inventory_transactions_actor_user_id_fkey FOREIGN KEY (actor_user_id) REFERENCES public.users(id) ON UPDATE CASCADE ON DELETE SET NULL;


--
-- Name: modifier_recipe_adjustments modifier_recipe_adjustments_modifier_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.modifier_recipe_adjustments
    ADD CONSTRAINT modifier_recipe_adjustments_modifier_id_fkey FOREIGN KEY (modifier_id) REFERENCES public.modifiers(id) ON UPDATE CASCADE ON DELETE CASCADE;


--
-- Name: modifier_recipe_adjustments modifier_recipe_adjustments_raw_material_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.modifier_recipe_adjustments
    ADD CONSTRAINT modifier_recipe_adjustments_raw_material_id_fkey FOREIGN KEY (raw_material_id) REFERENCES public.raw_materials(id) ON UPDATE CASCADE ON DELETE RESTRICT;


--
-- Name: modifiers modifiers_modifier_group_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.modifiers
    ADD CONSTRAINT modifiers_modifier_group_id_fkey FOREIGN KEY (modifier_group_id) REFERENCES public.modifier_groups(id) ON UPDATE CASCADE ON DELETE RESTRICT;


--
-- Name: order_item_modifiers order_item_modifiers_modifier_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.order_item_modifiers
    ADD CONSTRAINT order_item_modifiers_modifier_id_fkey FOREIGN KEY (modifier_id) REFERENCES public.modifiers(id) ON UPDATE CASCADE ON DELETE RESTRICT;


--
-- Name: order_item_modifiers order_item_modifiers_order_item_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.order_item_modifiers
    ADD CONSTRAINT order_item_modifiers_order_item_id_fkey FOREIGN KEY (order_item_id) REFERENCES public.order_items(id) ON UPDATE CASCADE ON DELETE CASCADE;


--
-- Name: order_items order_items_order_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.order_items
    ADD CONSTRAINT order_items_order_id_fkey FOREIGN KEY (order_id) REFERENCES public.orders(id) ON UPDATE CASCADE ON DELETE CASCADE;


--
-- Name: order_items order_items_product_variant_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.order_items
    ADD CONSTRAINT order_items_product_variant_id_fkey FOREIGN KEY (product_variant_id) REFERENCES public.product_variants(id) ON UPDATE CASCADE ON DELETE RESTRICT;


--
-- Name: order_payments order_payments_order_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.order_payments
    ADD CONSTRAINT order_payments_order_id_fkey FOREIGN KEY (order_id) REFERENCES public.orders(id) ON UPDATE CASCADE ON DELETE CASCADE;


--
-- Name: order_reversals order_reversals_actor_user_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.order_reversals
    ADD CONSTRAINT order_reversals_actor_user_id_fkey FOREIGN KEY (actor_user_id) REFERENCES public.users(id) ON UPDATE CASCADE ON DELETE RESTRICT;


--
-- Name: order_reversals order_reversals_order_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.order_reversals
    ADD CONSTRAINT order_reversals_order_id_fkey FOREIGN KEY (order_id) REFERENCES public.orders(id) ON UPDATE CASCADE ON DELETE CASCADE;


--
-- Name: orders orders_created_by_user_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.orders
    ADD CONSTRAINT orders_created_by_user_id_fkey FOREIGN KEY (created_by_user_id) REFERENCES public.users(id) ON UPDATE CASCADE ON DELETE RESTRICT;


--
-- Name: password_reset_tokens password_reset_tokens_user_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.password_reset_tokens
    ADD CONSTRAINT password_reset_tokens_user_id_fkey FOREIGN KEY (user_id) REFERENCES public.users(id) ON UPDATE CASCADE ON DELETE CASCADE;


--
-- Name: product_modifier_groups product_modifier_groups_modifier_group_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.product_modifier_groups
    ADD CONSTRAINT product_modifier_groups_modifier_group_id_fkey FOREIGN KEY (modifier_group_id) REFERENCES public.modifier_groups(id) ON UPDATE CASCADE ON DELETE RESTRICT;


--
-- Name: product_modifier_groups product_modifier_groups_product_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.product_modifier_groups
    ADD CONSTRAINT product_modifier_groups_product_id_fkey FOREIGN KEY (product_id) REFERENCES public.products(id) ON UPDATE CASCADE ON DELETE RESTRICT;


--
-- Name: product_variants product_variants_product_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.product_variants
    ADD CONSTRAINT product_variants_product_id_fkey FOREIGN KEY (product_id) REFERENCES public.products(id) ON UPDATE CASCADE ON DELETE RESTRICT;


--
-- Name: products products_category_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.products
    ADD CONSTRAINT products_category_id_fkey FOREIGN KEY (category_id) REFERENCES public.categories(id) ON UPDATE CASCADE ON DELETE RESTRICT;


--
-- Name: raw_material_inventory_summaries raw_material_inventory_summaries_raw_material_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.raw_material_inventory_summaries
    ADD CONSTRAINT raw_material_inventory_summaries_raw_material_id_fkey FOREIGN KEY (raw_material_id) REFERENCES public.raw_materials(id) ON UPDATE CASCADE ON DELETE CASCADE;


--
-- Name: raw_materials raw_materials_unit_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.raw_materials
    ADD CONSTRAINT raw_materials_unit_id_fkey FOREIGN KEY (unit_id) REFERENCES public.units(id) ON UPDATE CASCADE ON DELETE RESTRICT;


--
-- Name: stock_batches stock_batches_raw_material_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.stock_batches
    ADD CONSTRAINT stock_batches_raw_material_id_fkey FOREIGN KEY (raw_material_id) REFERENCES public.raw_materials(id) ON UPDATE CASCADE ON DELETE RESTRICT;


--
-- Name: stock_batches stock_batches_stock_run_item_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.stock_batches
    ADD CONSTRAINT stock_batches_stock_run_item_id_fkey FOREIGN KEY (stock_run_item_id) REFERENCES public.stock_run_items(id) ON UPDATE CASCADE ON DELETE SET NULL;


--
-- Name: stock_batches stock_batches_supplier_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.stock_batches
    ADD CONSTRAINT stock_batches_supplier_id_fkey FOREIGN KEY (supplier_id) REFERENCES public.suppliers(id) ON UPDATE CASCADE ON DELETE SET NULL;


--
-- Name: stock_run_items stock_run_items_raw_material_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.stock_run_items
    ADD CONSTRAINT stock_run_items_raw_material_id_fkey FOREIGN KEY (raw_material_id) REFERENCES public.raw_materials(id) ON UPDATE CASCADE ON DELETE RESTRICT;


--
-- Name: stock_run_items stock_run_items_stock_run_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.stock_run_items
    ADD CONSTRAINT stock_run_items_stock_run_id_fkey FOREIGN KEY (stock_run_id) REFERENCES public.stock_runs(id) ON UPDATE CASCADE ON DELETE CASCADE;


--
-- Name: stock_run_items stock_run_items_supplier_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.stock_run_items
    ADD CONSTRAINT stock_run_items_supplier_id_fkey FOREIGN KEY (supplier_id) REFERENCES public.suppliers(id) ON UPDATE CASCADE ON DELETE SET NULL;


--
-- Name: stock_runs stock_runs_created_by_user_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.stock_runs
    ADD CONSTRAINT stock_runs_created_by_user_id_fkey FOREIGN KEY (created_by_user_id) REFERENCES public.users(id) ON UPDATE CASCADE ON DELETE RESTRICT;


--
-- Name: stockout_events stockout_events_product_variant_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.stockout_events
    ADD CONSTRAINT stockout_events_product_variant_id_fkey FOREIGN KEY (product_variant_id) REFERENCES public.product_variants(id) ON UPDATE CASCADE ON DELETE SET NULL;


--
-- Name: stockout_events stockout_events_raw_material_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.stockout_events
    ADD CONSTRAINT stockout_events_raw_material_id_fkey FOREIGN KEY (raw_material_id) REFERENCES public.raw_materials(id) ON UPDATE CASCADE ON DELETE SET NULL;


--
-- Name: variant_availability_events variant_availability_events_product_variant_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.variant_availability_events
    ADD CONSTRAINT variant_availability_events_product_variant_id_fkey FOREIGN KEY (product_variant_id) REFERENCES public.product_variants(id) ON UPDATE CASCADE ON DELETE CASCADE;


--
-- Name: variant_availability_summaries variant_availability_summaries_product_variant_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.variant_availability_summaries
    ADD CONSTRAINT variant_availability_summaries_product_variant_id_fkey FOREIGN KEY (product_variant_id) REFERENCES public.product_variants(id) ON UPDATE CASCADE ON DELETE CASCADE;


--
-- Name: variant_recipe_items variant_recipe_items_product_variant_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.variant_recipe_items
    ADD CONSTRAINT variant_recipe_items_product_variant_id_fkey FOREIGN KEY (product_variant_id) REFERENCES public.product_variants(id) ON UPDATE CASCADE ON DELETE CASCADE;


--
-- Name: variant_recipe_items variant_recipe_items_raw_material_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.variant_recipe_items
    ADD CONSTRAINT variant_recipe_items_raw_material_id_fkey FOREIGN KEY (raw_material_id) REFERENCES public.raw_materials(id) ON UPDATE CASCADE ON DELETE RESTRICT;


--
-- Name: SCHEMA public; Type: ACL; Schema: -; Owner: postgres
--

REVOKE USAGE ON SCHEMA public FROM PUBLIC;


--
-- PostgreSQL database dump complete
--

\unrestrict AkXaMVpgemdDvRELRkAdWiiysEVkxaeqceU2Hg0fJSJklTwWxc1wZX8EIhwfy0M

